@import url('reset.css'); 
body{
    background-color: #FBF3E8;
    line-height: 1.5;
    color: #534533;
}

.wrapper{
    font-family: Playfair Display;
    margin: 0 auto;
}

 /* ========================== About Us section ========================== */
 /* 這個方法可以看整個網頁排版 */
 /* *{
    outline:  1px solid red; 
}  */

/* {
    box-sizing: border-box;
}*/ 

.main{
    /* outline: 1px solid blue; */
    max-width: 1200px;
    width: 100%;
    margin: 10px auto;
    box-sizing: border-box;
    line-height: 1.5;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_left{
    /* outline: 1px solid green; */
    width: 60%;
}

.about_left h1{
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    margin-top: 120px;
    /* justify-content: end; */
    font-style: italic;
    text-shadow:  8px 8px 8px #F3D2B5;
    
        
}

.about_right{
    /* outline: 1px solid purple; */
    width: 40%;
    
}

/* 調整 logo 位置& 大小 */
.about_right img{
    width: 42%;
    display: block;
    /* margin-top: 20px; */
    margin: 20px 20%;
}

.section{
    /* outline: 1px solid brown; */
    display: flex;
    margin: 10px auto;
}

.section .left{
    /* outline: 1px solid red; */
    padding: 40px 20px ;
}
/* 調整中間的照片 */
.section .left img{
    display: block;
    width: 100%;
    /* width: 95%; */
    border: 12px solid #F3D2B5;
    border-radius: 20px;
    /* box-shadow: 8px 8px 8px 8px #F3D2B5; */
}

.section .right{    
    /* outline: 1px solid rgb(9, 255, 0); */
    padding: 20px 30px 0 20px;
    width: 60%;
    margin-top: 20px;
    /* 調整 p 段落跟上方的間距 */
}

.section .right p{
   padding: 20px 30px 12px 30px;
   font-size: 18px;
   /* font-weight: bold; */
} 

.section .right span{
    font-weight: bold;
}

.section .right ul{
    padding-left: 35px;
    /* font-weight: bold; */
}

.section .right li{
    list-style-type: disc;
    font-size: 18px;
    padding-bottom: 10px;
} 

 /* ========================== 2nd section: 服務內容 ========================== */

.service1{
    /* outline: 2px solid orchid; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
   
}

.service1 h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.content{
    /* outline: 2px solid red; */
    display: flex;
    box-sizing: border-box;    
    /* justify-content: center;  
    align-items: center;   */
    /* padding-left: 20px; */
    margin: 0 auto;
}

.content img{
    width: 60%;
    border-radius: 50%;
    display: block;
    padding: 36px;
   
}

.content p{
    font-size:20px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 28px;
    /* text-shadow:  2px 2px 2px #CCA1A0; */
}

.content1{
    /* border: 2px solid blue; */
    
}

 /* ========================== 2nd section: 服務內容 finish========================== */
 
 

 /* ========================== last section: 門市資訊 ========================== */
.store{
    
    /* max-width: 1200px; */
    width: 100%;
    /* margin: 0 auto; */
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    /* grid-template-columns: 55% 45%; */
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.map{
    /* border: 5px solid brown; */
    /* width: 60%; */
    /* background-color: #fff; */
    padding: 20px 20px;
    /* margin: 20px 0; */
    /* border-radius: 20px; */
    box-sizing: border-box;
}

.map iframe{
    margin: 0 auto;
    display: block;
    width: 100%;
    /* width: 660px;
    height: 450px;
    background-color: white; */
    
}

.address{
    border: 1px solid yellow;
    /* padding-left: 30px; */
    box-sizing: border-box;
    text-align: center;
    
}

.address h2{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
}

.address_icon{
    display: inline-flex;
    outline: 1px solid red;
    /* margin-left: 16%; */
    /* padding-left: 60x; */
    text-align: center;
    /* align-items: center; */
    box-sizing: border-box;
   
}

.address_icon p{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.address_icon i {
    display: block;
    font-size: 20px;
    color: rgb(201, 29, 29);
    /* margin-right: 10px; */
    /* margin-left: 60px; */
    box-sizing: border-box;
    /* outline: 1px solid blue; */
}

.address p{
    /* outline: 1px solid green; */
    font-size:20px;
    /* text-align: center; */
   
    
    /* font-weight: bold; */
    padding: 0 0 28px 8px;
}
.address> p{
    /* padding-left: 20px; */
}