


@media screen and (max-width: 950px){
    .about_right{
        width: 50%;
    }

}

@media screen and (max-width: 900px){
    .section .left .aboutpic_big{
        display: none;
    }
    .section .left .aboutpic_small{
        display: block;
    }
}

@media screen and (max-width: 870px){
    .section .left .aboutpic_small{
        height: 80vh;
    }

    .about{
        flex-direction: column;
    }
    .about_right{
        display: none;
    }
    .about_left{
        order: 2;
    }
    .about_left h1{
        margin-top: 24px;
        font-size: 48px;
        /* text-align: center; */
    }

    .section{
        flex-direction: column;
    }

    .section .left{
        order: 1;
        padding: 0;
    }
    .section .right{
        order:2;
        margin-top: 0;
        width: 80%;
        padding: 20px 30px 0 20px;
    }
    .section .left img {
        width: 72%;
        margin: 0 auto;
    }
    .section{
        align-items: center;
    }
    .section .right p {
        padding: 8px 30px 12px 30px;
    }

    .store{
        display: grid;
        grid-template-columns: 1fr;
    }
    .address{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .address h2 {
        padding: 12px;
    }
    .store {
        padding-top: 16px;
        padding-bottom: 0;

    }
}

@media screen and (max-width: 820px){
    .about_left h1{
        font-size: 44px;
    }
    .section .right{
        width: 84%;
    }
}

@media screen and (max-width: 810px){
  
  
}
@media screen and (max-width: 700px){
    .service1 h2 {
        font-size: 28px;
    }
    .address h2{
        font-size: 28px;
    }
}

@media screen and (max-width: 430px){
    .about_left h1 {
        margin-top: 0 ;
        font-size: 36px;
    }
    .service1{
        display: none;
    }
    .section .right p{
        font-size: 16px;
    }
    .section .right p{
        font-size: 16px;
    }
    .store{
        padding-top: 0;
    }
}