@import url('reset.css'); 

/* ============ Memu bar ===================== */
/*
*{
    outline: 1px solid red;
}
*/

header{
    width: 100%;
    background-color: #F3D2B5;
    box-sizing: border-box;
    
}    

.menubar{
    box-sizing: border-box;
    background-color: #F3D2B5;
    /* padding-left: 120px; */
    font-size: 16px;
    /* font-weight: bold; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;   
    padding: 10px 0;
    box-sizing: border-box;
    /* 把主選單移到左上角 */
   
    /* border: 2px solid purple; */
}

.menubar a{
    text-decoration: none;
    color: #534533;
}

.menubar .aaaa{
    height: 60px;    
    /* 控制 nav bar logo 大小 */
    margin-right: auto;
    display: block;
    padding-left: 10px;
}

.webmenu{
    display: flex;
    margin-left: auto;
}

.webmenu_ul{
    display: flex;
    /* 把主選單左上角變成橫的 + display: flex */
    margin-left: auto;
    text-align: center;
    align-items: center;
    padding-right: 64px;
    position: relative;
    
}

.webmenu_ul li{  
    padding: 0 10px;
    /* border: 1px solid blue; */
    flex-grow: 1;
    box-sizing: border-box;
 
    border-bottom: 5px solid transparent;  /* 把 border 預設為透明 */
}

/* Search bar */
.search-container{
    /* outline: 1px solid red; */
    position: relative;
    display: flex;
    align-items: center;
}

.search{
    padding: 4px 0 4px 12px;
    max-width: 180px;
    /* height: 20px; */
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid lightgray;
    /* margin-left: auto; */
    /* position: relative; */
}

.search-container input:focus{
    outline: none;
    background-color:#FBE9E5 ;
    /* border-color: gray; */
}


.search_btn{
    /* outline: 1px solid orange; */
    position: absolute;
    height: 100%;
    /* width: 16px; */
    top:0;
    right: 0;
    border-radius: 0 8px 8px 0;
    border: 1px solid lightgray;
    /* background-color: pink; */
    /* width: 24px; */
    /* margin-left: auto; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
} 

/* ============ hover 效果 ======== */

.webmenu_ul li:hover{
    border-bottom: 5px solid #DB6D34;
    transition: 0.2s;
    
}

/* 若把search bar 放在li, 要把hover 效果拿掉 */
.webmenu .no-hover:hover{
    /* border-bottom: 0; */
    border-bottom: 5px solid transparent; 
}

/* ============ Memu bar finish===================== */

.menu_container{
    display:none;
}


/* login icon */
.login_small{
    display: none;
}