

@media screen and (max-width: 830px){
    /* Navigator */
    .menubar{
        /* height: ; */
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        z-index: 2;
        
    }
    .menubar a img{
        height: 50px;
    }
    .menubar ul{
        padding-top: 8px;
    } 
    /* Footer */
    .container >div{
        /* padding: 20px 4px 20px 4px; */
    }
    .top{
        right: 40px;
        bottom: 252px;
    }
}