
@media screen and (max-width: 1010px){
    /* 往上的 icon */
    .top{
        right: 100px;         
    }
}

@media screen and (max-width: 930px){
    .top{
        right: 76px;         
    }
}

@media screen and (max-width: 840px){
    /* Navigator */
   
    .menubar .aaaa{
        height: 50px;
    }
    .menubar .webmenu_ul{
        padding-top: 8px;
    } 

    .topMain img{
        padding-top: 0;
    } 
    /* Footer */
   
    .top{
        right: 20px;
    }
}

/* 要改成 hamburger menu */
@media screen and (max-width: 810px){
    .webmenu{
        display: none;
        
    }
    .login_small{
        display: block;
    }
   /* ===== web logo ========= */
    .menubar a {
        width: 200px;
        margin: 0 auto;

    }
   
    .menubar .aaaa{
        width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
        /* padding-left: 0; */
        margin-left: 12px;
    }
   
    .login_small{
        width: 50px;
    }
    .login_small i {
        line-height: 50px;
        font-size: 32px;
    }

    /* hamburger menu */
   
    .logo_small{
        /* outline: 1px solid red; */
        /* position: relative;  不需要*/
        /* top: 100px; 不需要
        left: 50px;  不需要*/
        /* width: 400px; 不需要 會爆版* /
        /* width: 100%; */
        box-sizing: border-box;
        padding-top: 100px;
        text-align: center;
        
    }
    .menu_container .bbbb{
        margin: 0 auto;
        height: 60px;
    }
    
    .menu_container{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        /* 先隱藏等等放出來 */
        width: 100%;
        max-width: 650px;
        height: 100vh;
        background-color: #FBF3E8;
        transition: .5s;
        box-sizing: border-box;
        z-index: 999; /* 確保在最上層 */
        transform: translateX(-100%);
        
    }
    
    .menu_container.active{
        /* left:0; */
        /* top:0; */
        transform: translateX(0);
    }
    .logo_small .menu_ul{
        flex-direction: column;
    }
    .logo_small .menu_li{
        
        text-align: center;
        font-size: 1.5em;
        padding: 20px;
        /* margin: 20px; */
        /* padding: 20px 30px; */
        /* border-bottom: 1pt solid #252525; */
    }
    .logo_small .menu_li a{
        /* padding: 20px; */
    }
    
    .menu .bar{
        position: absolute;
        /* position: fixed; */
    }
    
    .menu{
        /* outline: 1px solid red; */
        display:block;
        width: 36px;
        height: 36px;
        box-sizing: border-box;
        position: absolute;
        top: 16px;
        left: 16px; 
        /* transform: translateY(-50%); */
        border: 0;
        /* background: 0 0; */
        box-sizing: border-box;
        z-index: 1000;
    }
    
    .bar{
        width: 36px;
        height: 5px;
        background-color: #534533;
        margin: 6px;
        border-radius: 3px;
        width: 100%;
        transition: all .3s ease-in;
    }
    
    .bar2{
        top: 11px;
    }
    
    .bar3{
        top: 22px;
    }
    
    .menu.active .bar1{
        transform: rotate(45deg) translate(10px,8px);
    }
    
    .menu.active .bar2{
        opacity: 0;
    }
    
    .menu.active .bar3{
        transform: rotate(-45deg) translate(7px, -5px);
    }
    
    .logo_small a{
        /* outline: 1px solid red; */
        text-decoration: none;
        /* width: 100%; */
        /* padding-bottom: 20px; */
        box-sizing: border-box;
        color: #534533;
    }
    
       
    .logo_small img{
        height: 60px;
        display: block;

    }
    .menubar ul{
        padding-top: 0;
    }


}



@media screen and (max-width: 780px){

  

    /* footer */
    .logo{
        display: none;
    }
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}


@media screen and (max-width: 430px){


    /* footer */
    .logo{
        /* display: none; */
    }
    .container{
        /* grid-template-columns: repeat(2,1fr); */
        grid-template-columns: 1fr;
        grid-gap: 4px;
        
    }
    .container >div {
        padding: 8px 4px;
    }
    .media h4{
        padding: 16px;
    }  
    

}