@import url('reset.css'); 

body{
    background-color: #FBF3E8;
    line-height: 1.5;
    color: #534533;
}

.wrapper{
    font-family: Playfair Display;
    margin: 0 auto;
    /* line-height: 1.5; */
}

/* =============== 主視覺標題 ==================== */

.topic{
    /* outline: 1px solid red; */
    max-width: 1200px;
    width: 100%;
    margin: 20px auto;
    /* text-align: center; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    box-sizing: border-box;
    line-height: 1.5;
}

.title1{
    /* outline: 1px solid blue; */
    /* padding: 8px 16px; */
    padding:  16px;
    box-sizing: border-box;
   
}

.title1 h2{
    font-size: 1.8rem;
    font-weight: bold;
    text-align: end;
   
}

.title1 p{
    font-size: 2rem;
    font-weight: bold;
}

.content1{
    /* outline: 1px solid brown; */
    padding: 20px 16px;
    box-sizing: border-box;
}

.content1 p{
    font-size: 20px;
    margin-top: 8px;
}

/*=== title 中間的線 ==== */

.divider{
    /* outline: 1px solid orange; */
    max-width: 4px;
    box-sizing: border-box;
}

.divider:before{
    content: "";
    display: block;
    background-color: #534533;
    width: 2px;
    height: 132px;
    float: left;
    margin-right: 10px;
    box-sizing: border-box;
}

/* ========== 主視覺 cover photo ================== */

.cover{
   width: 100%;
   margin: 0 auto;
   border-radius: 20px;
   box-sizing: border-box;
   /* padding: 30px 0; */
}

.product_big{
    width: 100%; 
}

.product_small{
    display: none;
}


/* main class 包覆整個網頁 1200px */
.main{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1.5;
}

/* ==================== 1st section: 烘培課程 ====================== */
.class1{
    /* outline: 1px solid red; */
    width: 100%;
    line-height: 1.5;
    
    text-align: center;
    box-sizing: border-box;
    padding-top: 32px;
}

.right h2{
    line-height: 1.5;   
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 10px;
}

.right p{  
    text-align: center;
    font-size:20px;

}
.dropdown{
    /* outline: 1px solid red; */
    padding: 20px 48px 8px 48px;
    text-align: start;
    
}

#category{
    max-width: 300px;
    width: 100%;
    height: 32px;
    font-size: 16px;
    border-radius: 4px;
}

/* ==================== 2nd section: 烘培產品 ====================== */
.out{
    /* border: 1px solid green; */
    box-sizing: border-box;
    padding-bottom: 20px;
    line-height: 1.5;
 
}
.product1{
    /* border: 1px solid red; */
    box-sizing: border-box;
    /* margin: 0 auto; */
}

.product1 ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    box-sizing: border-box;
    padding-left: 2.5%;
}

.product1 li{
    /* 調整 card 之間的距離 */
    padding: 16px 16px;
    box-sizing: border-box;
    align-content: flex-start;
    width: 33.333%;
}

.item{
    /* border: 1px solid blue; */
    max-width: 348px;
    width: 100%;
    height: 380px;
    background-color: #fff;
    border-radius: 8px;
    /* margin-bottom: 20px; */
       
}
.img_out{
    max-width: 360px;
    width: 100%;
}

.img_out img{
    width: 100%;
}

.item img{
    border-radius: 12px 12px 0px 0px;
}

/* 產品內容 */
.info{
    /* outline: 1px solid red; */
    line-height: 1.5;
    box-sizing: border-box;
    padding: 8px 24px 8px;
}

.subtitle{
    /* outline: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
}

.subtitle h3{
    /* outline: 1px solid blue; */
    font-size: 20px;
    text-align: start;
       
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: calc(16ch + 1em); 
    /* 限制寬度，16個字元加上留白 */
}

.subtitle i{
    /* outline: 1px solid brown; */
    display: block;
    font-size: 24px;
   
}
/*  愛心 icon 點擊後有顏色 */
.heart{
    font-size: 24px;
    color: white;
    -webkit-text-stroke: 2px #f1b9b0; 
    cursor: pointer;
}
.heart.active {
    color: #f1b9b0; 
}

.level{
    /* outline: 1px solid green; */
    display: flex;
    margin: 4px auto;
    box-sizing: border-box;
    
}

.level i{
    /* outline: 1px solid red; */
    line-height: 1.5;
  
}

.level p{
    /* outline: 1px solid blue; */
    
    padding-left: 12px;
}

.time{
    /* border: 1px solid brown; */
    display: flex;
    margin: 4px auto;
    
    box-sizing: border-box;
}

.time i{
    /* outline: 1px solid red; */
    line-height: 1.5;
}

.time p{
    /* outline: 1px solid blue; */
    padding-left: 12px;
}
  
.price{
    /* border: 1px solid blue; */
    display: flex;
    margin: 4px auto;
    justify-content: space-between;
    box-sizing: border-box;
   
}

.price p{
    /* outline: 1px solid red; */
    /* width: 100px; */
    text-align: center;
    /* padding-left: 10px; */
    /* padding-top: 4px; */
    
}

.price a{
    /* outline: 4px solid green; */
    display:block;
    min-width: calc(100%-100px);
    /* min-width: 120px; */
    height: 28px;
    background-color: #A26769;
    color: white;
    text-align: center;
    line-height: 28px;
    font-size: 16px;
    /* margin: 30px auto; */
    text-decoration: none;
    border-radius: 8px;
     
    padding: 0px 8px;
  
}

/* ========== hover 效果 ============== */
.price a:hover{
    background-color: #CCA1A0;
    color: #F4E8E2;
}

.img_out a:first-child:hover{
    color: white;
}

.more{
    /* outline: 1px solid red; */
    padding-left: 44%;
    padding-top: 12px;
    padding-bottom: 12px;
}

.load_more{
    min-width: 120px;
    height: 32px;
    background-color: #A26769;
    color: white;
    text-align: center;
    
    line-height: 28px;
    font-size: 16px;
    border-radius: 8px;
    /* margin: 0px 20px;  */
    cursor: pointer;
}

.load_more:hover{
    background-color: #CCA1A0;
    color: #F4E8E2;
}


/* ========== RWD ================== */

@media screen and (max-width: 870px){
    .title1 h2{
        font-size: 28px;
    } 

    .title1 p{
        font-size: 28px;
    }
    .divider:before{
        height: 112px;
    } 
    .content1{
        padding: 16px 16px;
    }
    .content1 p{
        font-size: 18px;
    }
    .item{
        height: 312px;
    }
    .subtitle h3{
        max-width: calc(12ch + 1em); 
    /* 限制寬度，16個字元加上留白 */
    }

}

@media screen and (max-width: 820px){
    .item{
        height: 300px;
    }
    
}


@media screen and (max-width: 760px){

    .product1 li{
        width: 48.5%;
    }
    .item{
        height: 378px;
    }
    .content1 p {
        font-size: 16px;
    }
    .title1 h2 {
        font-size: 24px;
    }
    .title1 p {
        font-size: 24px;
    }
    .dropdown {
       text-align: center;
    }
}

@media screen and (max-width: 680px){
    .topic{
        flex-direction: column;
    }
    .title1 h2{
        text-align: center;
        font-size: 32px;
    }
    .title1 p {
        text-align: center;
        font-size: 32px;
    }
    .divider{
        display: none;
    }
    .content1 p {
        font-size: 20px;
        text-align: center;
    }
    .title1 {
        padding: 12px 0 0 0;
               
    }
    .item {
        height: 342px;
    }
}

@media screen and (max-width: 430px){
    .topic{
        flex-direction: column;
    }
    .title1 h2{
        text-align: center;
        font-size: 28px;
    }
    .title1 p {
        font-size: 28px;
        text-align: center;
    }
    
    .title1 {
        padding: 12px 0 0 0;
               
    }
    .content1 {
        padding: 16px 16px 4px;
    }
    .content1 p {
        font-size: 20px;
        margin-top: 0;
        padding: 0 20px;
    }
    .class1 {
        padding-top: 24px;
    }
    .right h2 {
        font-size: 28px;
        padding-bottom: 0;
    }

    .right p {
        text-align: left;
        font-size: 20px;
        padding: 8px 24px;
    }

    .dropdown{
        text-align: center;
        padding: 12px 48px 8px 48px;
    }

    .product1 li{
        width: 100%;
    }
    .product1 ul{
        padding-left: 5.5%;
    }
    .subtitle h3{
        max-width: calc(16ch + .5em); 
    /* 限制寬度，16個字元加上留白 */
    }
    .product_big{
        
        display: none;
    }
    
    .product_small{
        display: block;
        width: 100%; 
    }
    .more{
        text-align:center;
        padding-left: 0;
    }
    .item {
        height: 380px;
    }
}