@import url('reset.css'); 

body{
    background-color: #FBF3E8;
    line-height: 1.5;
    color: #534533;
}

.wrapper{
    font-family: Playfair Display;
    /* margin: 0 auto; */
    /* max-width: 1200px; */
}

/* ============ 1st section: 其他人也看 ========================== */
.out{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.popular{
    margin: 20px auto 20px auto;
    position: relative;
    /* 這是左右箭頭的 position: relative */

}

.popular h2{
    font-size: 32px;
    font-weight: bold;
    /* padding-bottom: 10px; */
    text-align: center;
    padding: 28px;
}

.popular ul{
    display: flex;
    overflow: hidden;    
    /* 要把超出畫面的藏起來  */
    position: relative;
 
}

.popular li{
    
    /* outline: 1px solid green; */
    margin-left: 5px;
    margin-right: 5px;
    box-sizing:border-box;
    width: 290px;
    width: 100%;
    /* flex-shrink: 0; */

    position: relative;
    /* 這是課程 .lesson1 的 position: relative */
}

.popular img{
    width: 98%;
    display: block;
    border-radius: 12px;
}

/* =========== 圖片上的 div, 為了要 hover 後show 文字在圖片上 ========== */
.lesson1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 98%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    opacity: 0;   
    /* 先隱藏字 & buttom */
    background-color: rgba(12, 12, 12, 0.137);
}

 /* ===== hover 效果 ======== */
 .popular li:hover .lesson1{
    opacity: 0.95;
    transition: 0.3s; 
}

.popular .lesson1 h4{
    color: white;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.popular a{
    text-decoration: none;
    font-size:16px;
    width: 100px;
    height: 28px;
    display: block;
    background-color: #CCA1A0;
    text-align: center;
    line-height: 24px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 8px;
    color: #F4E8E2;
       
}
/* =========== 圖片上的 div 結束 ========== */

/* ========= 左右箭頭 icon =========== */
.popular .fa-solid{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CCA1A0;
    color: #F4E8E2;
    text-align: center;
    line-height: 30px;

    position: absolute;
    top: 60%; 
   /* 把 icon 定位到中間  */
   
}

.fa-angle-left{
    left: -40px;
}

.fa-angle-right{
    right: -40px;
}

/* ===== 輪播左右 === */

.owl-carousel .owl-nav button.owl-next{
    display: none;
}

.owl-carousel .owl-nav button.owl-prev{
    display: none;
}

/* ============ 1st section: 其他人也看 finish ========================== */

/* ================== 2nd section: Class Schedule======================= */
.calendar{
    position: relative;
}

.schedule h2{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 52px auto;
    font-style: italic;
    text-shadow:  8px 8px 8px #F3D2B5;
}

.schedule img{
    margin-bottom: 40px;
    display: block;
        
}


/* ================== 點擊日曆要跳出的視窗 - 課程簡介  ======================= */


.popup1{
    background-color: #FDF6EF;
    /* box-shadow: 4px 4px 4px; */
    /* border: 4px solid #F3D2B5; */
    color:#534533; 
    border-radius: 20px;
    margin: 0 auto;
    max-width: 480px;
    line-height: normal;
}

.pic{
    width: 400px;
    /* margin: 24px auto; */
    margin-bottom: 12px;
    border-radius: 20px;
}

.content{
    /* border: 1px solid blue; */
    box-sizing: border-box;
    padding: 0 12px;
}

.content p{
    /* border: 1px solid red; */
    padding-bottom: 12px;
    text-align: left;
}

.reservation{
    display: flex;
    justify-content: space-between; 
    /* padding: 0 20px;   */
    /* 調整左右兩側距離 */
}

.reservation .link-1 a{
    /* border: 1px solid green; */
    text-decoration: none;
    color: #534533;
    font-size: 16px;
    text-align: start;
    height: 24px;
    line-height: 24px;
    margin-left: 12px;

}
/* 取消 default a tag outline  */
.reservation a:focus{
    outline: none;
}

.reservation .link-2 a{
    text-decoration: none;
    width: 120px;
    height: 28px;
    color: #534533;
    display: block;
    width: 120px;
    height: 28px;
    line-height: 28px;
    background-color: #A26769;
    color: white;
    text-align: center;
    border-radius: 8px;

}

/* ===============  Hover 特效 ==================== */

.reservation .link-1 a:hover{
    color: #CCA1A0;
    border-bottom: 2px solid #A26769;
}


.reservation .link-2 a:hover{
    background-color: #CCA1A0;
    color: #F4E8E2;
}

/* ==================  Calendar  ===================== */

.calendar_frame{
    max-width: 1100px;
    width: 100%;
    margin: 20px auto;
    line-height: 1.5;
    box-sizing: border-box;
}
.calendar_top{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    background-color: #fff;
    border: 4px solid #F3D2B5;
    border-bottom: 1px solid transparent;
    border-radius: 8px 8px 0 0;
   
}

.calendar_top h3{
    max-width: 320px;
    font-size: 36px;
    font-weight: 600;
    margin: 12px;
    color: #534533ce;
}
.calendar_top button{
    /* outline: 1px solid red; */
    border-radius: 50%;
    height: 50%;
    line-height: 1.5;
    margin: auto  20px;
    background-color: #FBE9E5;
    /* border: 1px solid #5345335e; */
    color: #534533ce;
    cursor: pointer;
}

.calendar_top i{
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.calendar_top h3{
    letter-spacing: 2px;
}

.calendar_container{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    /* grid-gap: 2px; */
    background-color: #fff;
    color: #534533;
    border-radius: 0 0 8px 8px;
    border: 4px solid #F3D2B5;
}

.weekday{
    /* outline: 1px solid red; */
    box-sizing: border-box;
    border-bottom: 1px solid #53453371;
    text-align: center;
    padding: 8px;
    letter-spacing: 8px;
}

.day{
    border: 1px solid #53453371;
    box-sizing: border-box;
    padding: 12px;
    height: 30vh;
    /* width: 100%; */
    min-width: 90px;
    font-size: 20px;

}

.class001{}

.class001_btn{
    box-sizing: border-box;
    /* font-size: 16px; */
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: calc(16ch + 0.5em); 
    /* 限制寬度，16個字元加上留白 */
    cursor: pointer;
    background-color: #FBE9E5;
    border-radius: 4px;
    border: 1px solid  #FBE9E5;
    line-height: 1.5;
    margin-top: 16px;
}

/* =========== 課程 Popup ================== */

.popup_screen{
    border: 4px solid #F3D2B5;
    background-color: white;
    /* box-shadow: 4px 4px 4px; */
    /* border: 4px solid #F3D2B5; */
    color:#534533; 
    border-radius: 20px;
    margin: 0 auto;
    max-width: 360px;
    line-height: 1.5;
    box-sizing: border-box;
    height: 400px;
    /* padding: 4px; */

    transition: 0.5s ease-out;
    transform: translateY(45px);

    display: none;
    /* 等調好 JS 要把這個放出來 */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup_info{
    box-sizing: border-box;
    
    /* padding: 0 12px; */
}
.info_pic{
    display: block;
    max-width: 360px;
    width: 100%;
   /* align-items: center; */
    /* margin: 12px auto; */
    /* margin: 24px auto; */
    /* margin-bottom: 12px; */
    border-radius: 16px;
}

.popup_info p{
    /* border: 1px solid red; */
    /* padding-bottom: 12px; */
    text-align: left;
}

.popup_reservation{
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}

.left_link a{
    /* border: 1px solid green; */
    text-decoration: none;
    color: #534533;
    font-size: 16px;
    text-align: start;
    height: 24px;
    line-height: 24px;
    margin-left: 12px;

}

/* 取消 default a tag outline  */
.left_link a:focus{
 outline: none;
}

.right_lilnk a{
 text-decoration: none;
 width: 120px;
 height: 28px;
 color: #534533;
 display: block;
 width: 120px;
 height: 28px;
 line-height: 28px;
 background-color: #A26769;
 color: white;
 text-align: center;
 border-radius: 8px;

}

/* 讓 popup_screen 跳出來 */
.active{
    visibility: visible;
    opacity: 1;
  }

  .popup_screen.active {
    /* visibility: visible; */
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

/* close 按鈕 */
.close{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    opacity: 0.5;
    cursor: pointer;
}














