
@media screen and (max-width: 1000px){
    .class001_btn{
        max-width: calc(12ch + 0.5em);
    }
    .calendar_title {
        margin: 28px auto;
    }
}

@media screen and (max-width: 830px){
    .popular h2 {
        padding: 24px;
    }
    .class001_btn {
        max-width: calc(9ch + 0.5em);
    }

    .weekday {
        padding: 8px;
        letter-spacing: 4px;
    }
    .calendar_title {
        margin: 20px auto;
    }
}

@media screen and (max-width: 670px){
    .day {
        padding: 8px;
        height: 24vh;
        min-width: 70px;
        font-size: 17px;
    }
    .popular {
        margin: 0px auto;
    }
   
    .calendar_top h3{
        font-size: 32px;
    }
    .popup_screen{
        margin: 0 12px;
    }
}

@media screen and (max-width: 620px){
    .class001_btn {
        max-width: calc(6ch + 0.5em);
    }
    .popular h2 {
        padding: 20px;
    }
    .popular h2 {
        font-size: 28px;
    }
    
    .calendar_title {
        margin: 12px auto;
    }
    .calendar_title h2 {
        font-size: 36px;
        text-shadow: 2px 2px 2px #F3D2B5;
    }
    .calendar_top h3 {
        font-size: 28px;
    }
    .day {
        padding: 9px;
        height: 20vh;
        min-width: 60px;
        font-size: 16px;
    }
}

@media screen and (max-width: 470px){
    .class001_btn {
        max-width: calc(3ch + 0.5em);
    }
    .day {
        padding: 6px;
        height: 20vh;
        min-width: 50px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start;
       
    }
    .weekday {
        padding: 0;
        letter-spacing: 0
    }
    #prevMonth {
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: auto 20px;
    }
    #prevMonth i {
        font-size: 16px;
        text-align: center;
        line-height: 20px;
    }
    #nextMonth{
        width: 24px;
        height: 24px;
        line-height: 24px;
        margin: auto 20px;
    }
    #nextMonth i {
        font-size: 16px;
        text-align: center;
        line-height: 20px;
    }
    .calendar_frame {
        margin: 8px auto;
    }
    .popup_info p {
        padding: 4px 8px;
        font-size: 12px;
    }
    .popup_reservation {
        padding: 4px 8px;
    }
    .right_lilnk a {
        height: 28px;
        width: 92px;
        height: 24px;
        line-height: 24px;
        font-size: 14px;
    }
    .left_link a {
        font-size: 12px;
    }
    .popup_screen{
        height: 302px;
        margin: 0px 12px;
        left: 38%;
    }
    .close {
        font-size: 16px;
        width: 20px;
        line-height: 20px;
    }
    .popup_screen {
        border-radius: 20px;
        margin: 0px 12px;
        left: 32%;
}


