@import url('reset.css'); 

body{
    background-color: #FBF3E8;
    line-height: 1.5;
    color: #534533;
}

.wrapper{
    font-family: Playfair Display;
    /* margin: 0 auto; */
    /* max-width: 1200px; */
}

/* ============ 1st section: 其他人也看 ========================== */
.out{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    box-sizing: border-box;
}

.popular{
    /* max-width: 1200px; */
    margin: 0 auto 20px auto;
    /* padding-top: 120px; */
    /* position: relative; */
    /* 這是左右箭頭的 position: relative */

}

.popular h2{
    font-size: 38px;
    font-weight: bold;
    /* padding-bottom: 10px; */
    text-align: center;
    padding: 28px;
}

#carousel_1{
    /* display: flex; */
    overflow: hidden;    
    /* 要把超出畫面的藏起來  */
    position: relative;
    /* justify-content: space-between;  */
 
}

#carousel_1 .card{
    /* outline: 1px solid green; */
    /* margin-left: 5px; */
    /* margin-right: 5px; */
    box-sizing:border-box;
    max-width: 300px;
    width: 100%;
    /* flex-shrink: 1; */

    position: relative;
    /* 這是課程 .lesson1 的 position: relative */
}

.popular img{
    width: 98%;
    display: block;
    border-radius: 12px;
    transition: transform 0.3s ease; /* 添加過渡效果 */
}

/* =========== 圖片上的 div, 為了要 hover 後show 文字在圖片上 ========== */
.lesson1{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 98%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    opacity: 0;   
    /* 先隱藏字 & buttom */
    background-color: rgba(12, 12, 12, 0.137);
}

 /* ===== hover 效果 ======== */

 .popular .card:hover .lesson1{
    opacity: 0.95;
    transition: 0.3s; 
}

.popular .lesson1 h4{
    color: white;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.popular a{
    text-decoration: none;
    font-size:16px;
    width: 100px;
    height: 32px;
    display: block;
    background-color: #CCA1A0;
    text-align: center;
    line-height: 24px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 8px;
    color: #F4E8E2;
       
}
/* =========== 圖片上的 div 結束 ========== */

/* ===== 輪播左右 === */
.owl-carousel .owl-nav button.owl-next{
    display: none;
}

.owl-carousel .owl-nav button.owl-prev{
    display: none;
}

/* ============ 1st section: 其他人也看 finish ========================== */

/* ================== 2nd section: Class Schedule======================= */

.calendar_title{
    margin: 32px auto;
}

.calendar_title h2{
    font-size: 44px;
    font-weight: bold;
    text-align: center;
    /* margin: 52px auto; */
    font-style: italic;
    text-shadow:  8px 8px 8px #F3D2B5;
}


/* ==================  Calendar  ===================== */

.calendar_frame{
    max-width: 1100px;
    width: 100%;
    margin: 20px auto;
    line-height: 1.5;
    box-sizing: border-box;
    padding: 0 12px;
}
.calendar_top{
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    
    text-align: center;
    justify-content: center;
    line-height: 1.5;
    background-color: #fff;
    border: 4px solid #F3D2B5;
    border-bottom: 1px solid transparent;
    border-radius: 8px 8px 0 0;
   
}

.calendar_top h3{
    max-width: 320px;
    font-size: 36px;
    font-weight: 600;
    margin: 12px;
    color: #534533ce;
}

/* 切換日曆月份 */
#prevMonth{
    /* outline: 1px solid red; */
    width: 30px;
    border-radius: 50%;
    height: 30px;
    line-height: 1.5;
    margin: auto  20px;
    background-color: #FBE9E5;
    /* border: 1px solid #5345335e; */
    color: #534533ce;
    cursor: pointer;
}

#prevMonth i{
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

#nextMonth{
    /* outline: 1px solid red; */
    width: 30px;
    border-radius: 50%;
    height: 30px;
    line-height: 1.5;
    margin: auto  20px;
    background-color: #FBE9E5;
    /* border: 1px solid #5345335e; */
    color: #534533ce;
    cursor: pointer;
}

#nextMonth i{
    font-size: 20px;
    text-align: center;
    line-height: 20px;
}

.calendar_top h3{
    letter-spacing: 2px;
}

/* ========== 日曆 ============== */

.calendar_container{
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: auto;
    /* grid-gap: 2px; */
    background-color: #fff;
    color: #534533;
    border-radius: 0 0 8px 8px;
    border: 4px solid #F3D2B5;
}

.weekday{
    /* outline: 1px solid red; */
    box-sizing: border-box;
    border-bottom: 1px solid #53453371;
    text-align: center;
    padding: 8px;
    letter-spacing: 8px;
}

.day{
    border: 1px solid #53453371;
    box-sizing: border-box;
    padding: 12px;
    height: 30vh;
    /* width: 100%; */
    min-width: 90px;
    font-size: 20px;

}

.class001{}

.class001_btn{
    box-sizing: border-box;
    /* font-size: 16px; */
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: calc(16ch + 0.5em); 
    /* 限制寬度，16個字元加上留白 */
    cursor: pointer;
    background-color: #FBE9E5;
    border-radius: 4px;
    border: 1px solid  #FBE9E5;
    line-height: 1.5;
    margin-top: 16px;
    position: relative;
    /* z-index: 1; */
}

/* =========== 課程 Popup ================== */

.popup_screen{
    border: 4px solid #F3D2B5;
    background-color: #FDF6EF;
    /* box-shadow: 4px 4px 4px; */
    /* border: 4px solid #F3D2B5; */
    color:#534533; 
    border-radius: 20px;
    margin: 0 auto;
    max-width: 340px;
    line-height: 1.5;
    box-sizing: border-box;
    height: 380px;
    /* padding: 4px; */ 
    /* display: none; */
    /* 等調好 JS 要把這個放出來 */
    opacity: 0;
    position: fixed;
    bottom: -100%;
    left: 50%;
    transition:  0.4s 0.3s ease-out;
    transform: translateX(45deg);

    z-index: 3;  
}

.active{
    
    opacity: 1;
}
.popup_screen.active {
    bottom: 5%;
    opacity: 1;

}

.popup_info{
    box-sizing: border-box;
    line-height: 1.5;
}
.info_pic{
    display: block;
    max-width: 360px;
    width: 100%;
    border-radius: 16px;
}

#popupDate{
    padding-top: 12px;
}
.popup_info p{
    /* border: 1px solid red; */
    /* padding-bottom: 12px; */
    text-align: left;
    padding: 4px 12px;
}

.popup_reservation{
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    padding: 4px 12px;
}

.left_link a{
    /* border: 1px solid green; */
    text-decoration: none;
    color: #534533;
    font-size: 16px;
    text-align: start;
    height: 24px;
    line-height: 24px;
    
}

/* 取消 default a tag outline  */
.left_link a:focus{
outline: none;
}

.right_lilnk a{
text-decoration: none;
width: 120px;
height: 28px;
color: #534533;
display: block;
width: 120px;
height: 28px;
line-height: 28px;
background-color: #A26769;
color: white;
text-align: center;
border-radius: 8px;

}

/* ==== hover effect ==== */
.left_link a:hover{
    color: #ebb386;
}

.right_lilnk a:hover{
    background-color: #CCA1A0;
    color: #F4E8E2;
}



/* 讓 popup_screen 跳出來 - 先隱藏 */


/* close 按鈕 */
.close{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    font-size: 20px;
    width: 28px;
    text-align: center;
    line-height: 24px;
    opacity: 0.5;
    cursor: pointer;
    border: none;
    margin: 4px;
    color: #534533;
}
.close:hover{
    background-color: #e6e3e3f5;
}









