@import url('reset.css'); 

body{
    background-color: #FBF3E8;
    line-height: 1.5;
    color: #534533;
}

.wrapper{
    font-family: Playfair Display;
    margin: 0 auto;
    /* max-width: 1440px; */
}

/* ==========主視覺 cover photo================== */
/*
*{
    outline:  1px solid red; //這個方法可以看整個網頁排版
}*/


* {
    box-sizing: border-box;
}*

.topMain{
    max-width: 1440;
    width: 100%;
    /* height: 300px; */
    margin: 0 auto;
    background-repeat: no-repeat;
    line-height: 1.5;
    position: relative;
}                


.topMain img{
    width: 100%;
    /* flex-shrink: 0; */
}

.small{
    display: none;
}

.medium{
    display: none;
}

.topMain .text{
    /* max-width: 800px; */
    width: 100%;
    /* height: 300px; */
    /* border: 1px solid red; */
    position: absolute;
    top:100px;
    /* left:0;*/
    padding-left: 120px; 
    left:40%;
    top: 40%;
    transform: translate(-40%, -40%);
}

.topMain .text h1{
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    /* font-style: italic; */
    color:#FBF3E8 ;
    /* border: 1px solid blue; */
}

.title2{
    font-size: 60px;
    font-weight: bold;
    width: 100%;
    padding-left: 80px;
}


/* ============ 1st section: 烘培課程 ===================== */
/* main class 包覆整個網頁1200px */
.main{
    max-width: 1200px;   
    width: 100%;
    margin: 0 auto;
    line-height: 1.5;
    /* border: 1px solid red; */
}



.grid-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;  
    /*  修改grid */
    grid-template-rows:  1fr 1fr;
    grid-gap: 16px;
    padding: 32px 0 0 0;  
    /* 調整整個 block 間距 */
    /* height: 600px; */
    line-height: 1.5;
    
    box-sizing: border-box;
    
}

.item1{
    /* border: 1px solid red; */
    grid-column: 1/2;
    grid-row: 1 / span2;
    /* box-sizing: border-box; */
    width: 100%;
    
}

.item1 h2{
    font-size: 32px;
    font-weight: bold;
    /* padding-top: 10px; */
    margin-top: 15%;
    text-align: center;
    padding: 20px;
  
}

.item1 p{
    font-size:24px;
    padding: 0 40px 20px 40px;
    /* width: 550px; */
    /* width: 100%; */
    /* box-sizing: border-box; */
}

.item1 a{
    display:block;
    max-width: 190px;
    width: 100%;
    height: 44px;
    background-color: #A26769;
    text-align: center;
    line-height: 44px;
    font-size: 20px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
    border-radius: 8px;
}

/* ============ hover 效果 ======== */
.grid-container .item1 a:hover{
    background-color: #CCA1A0;
    color: #F4E8E2;
}

.item2{
    /* border: 1px solid blue; */
    grid-column:2/3;
    grid-row: 1/2;
    /* justify-content: flex-end; */
    align-self: end;  
    width: 100%;
}

.item2 img{
    /* 左上圖片 */
    border-radius: 0 100px;
    width: 100%;
   
}

.item3{
    /* border: 1px solid red; */
    grid-column:3/4;
    grid-row: 1/2;
    width: 100%;
    align-self: end;
}

.item3 img{
    /* 右上圖片 */
    border-radius: 100px 0;
    width: 100%;
}

.item4{
    /* border: 1px solid brown; */
    grid-column:2/3;
    grid-row: 2/3;
    width: 100%;
}

.item4 img{
    /* 左下圖片 */
    border-radius: 100px 0;
    width: 100%;
}

.item5{
    /* border: 1px solid green; */
    grid-column:3/4;
    grid-row: 2/3;
    width: 100%;
}
.item5 img{
      /* 右下圖片 */
    border-radius: 0 100px;
    width: 100%;
}

/* ============ 3rd Section: 熱門課程 ========================== */
.popular{
    /* max-width: 1200px; */
    margin: 0 auto 20px auto;
    /* padding-top: 120px; */
    position: relative;
    /* 這是左右箭頭的 position: relative */

}

.popular h2{
    font-size: 32px;
    font-weight: bold;
    /* padding-bottom: 10px; */
    text-align: center;
    padding: 28px;
}

#carousel_1{
    /* display: flex; */
    overflow: hidden;    
    /* 要把超出畫面的藏起來  */
    position: relative;
 
}

#carousel_1 .card{
    /* outline: 1px solid green; */
    margin-left: 5px;
    margin-right: 5px;
    box-sizing:border-box;
    max-width: 300px;
    width: 100%;
    /* flex-shrink: 1; */

    position: relative;
    /* 這是課程 .lesson1 的 position: relative */
}

.popular img{
    width: 98%;
    display: block;
    border-radius: 12px;
    transition: transform 0.3s ease; /* 添加過渡效果 */
}

/* =========== 圖片上的 div, 為了要 hover 後show 文字在圖片上 ========== */
.lesson1{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 98%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    opacity: 0;   
    /* 先隱藏字 & buttom */
    background-color: rgba(12, 12, 12, 0.137);
}

 /* ===== hover 效果 ======== */
 /* .popular img:hover{
    transform: scale(1.2);
 } */

 .popular .card:hover .lesson1{
    opacity: 0.95;
    transition: 0.3s; 
}

.popular .lesson1 h4{
    color: white;
    font-size:20px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}

.popular a{
    text-decoration: none;
    font-size:16px;
    width: 100px;
    height: 32px;
    display: block;
    background-color: #CCA1A0;
    text-align: center;
    line-height: 24px;
    margin: 20px auto;
    padding: 5px;
    border-radius: 8px;
    color: #F4E8E2;
       
}
/* =========== 圖片上的 div 結束 ========== */

/* ========= 左右箭頭 icon =========== */
.popular .fa-solid{
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #CCA1A0;
    color: #F4E8E2;
    text-align: center;
    line-height: 30px;

    position: absolute;
    top: 60%; 
   /* 把 icon 定位到中間  */
   
}

.fa-angle-left{
    left: -40px;
}

.fa-angle-right{
    right: -40px;
}

/* ===== 輪播左右 === */

.owl-carousel .owl-nav button.owl-next{
    display: none;
}

.owl-carousel .owl-nav button.owl-prev{
    display: none;
}

/* ============ 3rd Section: 熱門課程 finish ========================== */

/* ============== Class Feedback Section ================== */

.Feedback{
    
    width: 100%;
    line-height: 1.5;
    box-sizing: border-box;
    color: #534533;
    margin: 0 auto 28px auto;
    padding: 20px 0;
    
}
.Feedback h2{
 
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
}

.comment-out{
    font-size: 16px;
   
}

.comment-out ul{
    display: flex;
   
    
}

.comment-out li{
    border: 1px solid #f2d7b6;
   
    align-items: center;
    justify-content: center;
    padding: 24px 20px;
    margin: 0 4px;
    border-radius: 8px;
    transition:  transform 0.3s ease;
    background-color: #ffffff93;

}

.comment-out li:hover{
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 0px 4px 10px 0px #f2d7b6;

}

.comment{}

.icon {
    text-align: center;
}

.icon i{
    font-size: 32px;
    padding-bottom: 20px;
    -webkit-text-stroke: 2px #f1b9b0; 
    color: white;
}

.name{
    text-align: center;
    padding-top: 20px;
}

/* ============= 控制回饋的 block =================== */
.Feedback{
    /* display:none; */
}

.feedback_container{
    display:none;
    overflow: hidden;
}

/* ============== Class Feedback Section (換成用div 寫法) ================== */

.feedback_container{
    /* border: 1px solid red  ; */
    width: 100%;
    line-height: 1.5;
    box-sizing: border-box;
    color: #534533;
    margin: 0 auto 28px auto;
    padding: 20px 0;
    overflow: hidden;
}

.feedback_container h2{
    /* border: 1px solid blue; */
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
}

.comment_container{
    display: flex;
}

.swiper-slide{
    border: 1px solid #f2d7b6;
    align-items: center;
    justify-content: center;
    padding: 24px 12px;
    margin: 0 10px;
    border-radius: 8px;
    transition:  transform 0.3s ease;
    background-color: #ffffff93;
    /* flex-grow: 1; */
    min-width: 144px;
}

.swiper-slide:hover{
    background-color: #fff;
    transform: translateY(-10px);
    box-shadow: 0px 4px 10px 0px #f2d7b6;
}

.icon {
    text-align: center;
}

.icon i{
    font-size: 32px;
    padding-bottom: 20px;
    -webkit-text-stroke: 2px #f1b9b0; 
    color: white;
}

.name{
    text-align: center;
    padding-top: 20px;
} 

/* ==== 調整slider ===== */
.swiper {
    width: 400px;
    height: 250px;
} 

.feedback_container .swiper-button-prev,
.feedback_container .swiper-button-next {
   color: #e9bb88; /* 箭頭顏色 */
   position: absolute;
    top: 60%; /* 垂直居中 */
    transform: translateY(-60%);
}
/* 左箭頭位置 */
.feedback_container .swiper-button-prev {
    left: -8px; /* 調整箭頭與滑塊的距離 */
}

/* 右箭頭位置 */
.feedback_container .swiper-button-next {
    right: -8px; /* 調整箭頭與滑塊的距離 */
}
#carousel_2 .swiper-slide{
    margin: 0;
}

/* swiper scroll bar color =======  (在 swiper css 裡調) */
:root {
    /* --swiper-theme-color: #007aff; */
    

}


/* ============ last Section: 掌握最新課程資訊 ========================== */
.subscribe{
    /* border: 1px solid purple; */
    /* max-width: 1200px; */
    
    height: 150px;
    margin: 20px auto;
    /* justify-content: center;
    align-items: center; */
    text-align: center;

}

.subscribe h2{
    font-size: 32px;
    font-weight: bold;
    /* padding-bottom: 10px; */
    text-align: center;
    padding: 28px;
}

.Name{
    /* margin-left: 18%; */
    margin-right: 28px;
    border-radius: 8px;
    border: 1px solid lightgray;
    
}

.subscribe input{
    height: 30px;
    width: 25vw;
    padding-left: 20px;
    box-sizing: border-box;
    outline: none;
}

.subscribe input:focus{
    outline: none;
    background-color:#FBE9E5 ;
}

 .Email{
    margin-right: 30px;
    border-radius: 8px;
    border: 1px solid lightgray;
 }

.subscribe a{
    display:inline-block;
    /* min-width: 150px; */
    width: 10vw;
    height: 32px;
    background-color: #A26769;
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 16px;
    margin: 0 auto;
    text-decoration: none;
    
    border-radius: 8px;
}

.subscribe a:hover{
background-color: #CCA1A0;
color: #F4E8E2;
}